In [1]:
from MaxAgents import MaxRandomAgent
from MinAgents import MinRandomAgent
from Model import MyModel, CustomDataCollector
from math import floor

## Parameters 
N = 10
prop_adversaries = .2
coin_toss = .9
rounds_factor = 10

model = MyModel(N, coin_toss, prop_adversaries, MaxRandomAgent, MinRandomAgent)

for i in range(floor(N * rounds_factor)):
    model.step()

df = CustomDataCollector(model)

In [4]:
df.head(30)

     Pairs                          Voting  Outcome  Action
0   (0, 9)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
1   (1, 3)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        0  [1, 0]
2   (2, 3)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        0  [0, 0]
3   (3, 4)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        0  [0, 1]
4   (4, 6)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
5   (5, 7)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
6   (6, 9)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
7   (7, 6)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
8   (8, 3)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        0  [1, 0]
9   (9, 4)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
10  (0, 5)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
11  (1, 6)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
12  (2, 1)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        0  [0, 1]
13  (3, 5)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        0  [0, 1]
14  (4, 6)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
15  (5, 7)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
16  (6, 4)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
17  (7, 5)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
18  (8, 7)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
19  (9, 4)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
20  (0, 1)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
21  (1, 0)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
22  (2, 1)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        0  [0, 1]
23  (3, 5)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        0  [0, 1]
24  (4, 6)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
25  (5, 4)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
26  (6, 7)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
27  (7, 0)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
28  (8, 7)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]
29  (9, 1)  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]        1  [1, 1]